<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-3 project">
  <div class="card" id="postCard">

    <div class="col-md-12">
      <h2 id="postHead">
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{!-- {{{get_emoji}}} --}}
        <a href="/project/{{project.id}}">{{project.title}}</a>
      </h2>
      <p id="author"> By: {{project.user.name}} </p>
      <p id="date"> {{format_date project.date_created}}</p>

    </div>
    <div class="col-md-12">
      <p>
        {{project.description}}
      </p>
    </div>
    <div class="btn-group">
      <button class="btn">Like</button>
      <button class="btn">Dislike</button>
    </div>
    <div class="form-group">
      <textarea class="form-input" placeholder="Add a comment" id="comment" name="comment"></textarea>
    </div>
    <div class="form-group">

    </div>
  </div>
  {{/each}}